
<div class="wrap">
  <div class="name">{{name.split(' ')[0]}} <span>{{name.split(' ')[1]?name.split(' ')[1]:''}}</span></div>
  <div class="cards-wrap">

    <div class="card">
      <div class="title">Total Clocked Hours</div>  
      <div class="highlight">{{120}}</div>
    </div>

    <div class="card">
      <div class="title">Volunteering Since</div>  
      <div class="highlight">{{"22/10/18"}}</div>
    </div>


    <div class="card">
      <div class="title">Total Events Attended</div>  
      <div class="highlight">{{10}}</div>
    </div>

    <div class="card">
      <div class="title">Last Active Date</div>  
      <div class="highlight">{{"22/10/18"}}</div>
    </div>

  </div>

</div>