.header{
  display: grid;
  padding: 10px 15px;
  grid-template-columns: 1fr auto;
  border-bottom:2px solid #01AEF0;
  align-items: center;
  .logo{
    img{
      cursor: pointer;
      height: 60px;
      margin-left: 20px;
    }
  }
}
.menu{
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 50px;
  margin-right: 20px;
  li{
    font-weight: 900;
    cursor: pointer;
    padding: 10px 15px;
    list-style: none;
    color: #000;
    &:hover{
      background: #ffffff0d;
    }
  }
}