<div class="wrapper">
  <div class="wrap">
    <div class="dashboard">
      <div class="stat-box">
          <div>Total Volunteers</div>
          <div  class="big">{{vols.length}}</div>
      </div>
  
      <div class="stat-box">
          <div>Active Events</div>
          <div  class="big">{{eventsList.length}}</div>
      </div>
  
  
      <div class="stat-box">
          <div>All Event</div>
          <div  class="big">{{eventsList.length + 10}}</div>
      </div>
  
  
      <div class="stat-box">
          <div>Total Volunteers</div>
          <div  class="big"></div>
      </div>
    </div>
    <div class="frame" *ngIf="activeEvent">
      <div class="event-details {{getToggleClass(activeEvent.title)}}">
        <div class="card">
          <div class="title">{{activeEvent.title}}</div>
          <div class="volun"><i class="material-icons">check_circle</i>{{activeEvent.volunteers.length}}/{{activeEvent.maxVol}}</div>
          <div class="loc"><i class="material-icons">pin_drop</i>{{activeEvent.loc}}</div>
          <div class="text">{{activeEvent.description}}</div>
          <div class="heading">
            <h4 >Volunteers List</h4>
            <div class="split">
              <b [ngClass]="{'active': approvedList}" (click)="showApproved(true)">Approved</b>
              <b [ngClass]="{'active': !approvedList}" (click)="showApproved(false)">New Volunteers</b>
            </div>
          </div>

          <div class="volunteer-list" >
            <div class="volunteer" *ngFor="let vol of activeEvent.volunteers; let i = index">
              <div class="icon"><i class="material-icons">
                  person
                  </i></div>
              <div class="name">{{vol.name}}</div>
              <div class="company">{{vol.company.name}}</div>
              <div class="time">{{vol.date | amTimeAgo}}</div>
              <div class="grid">
                <div class="approve dismiss" (click)="rejectVolunteer(i,vol._id, ev._id)">
                    <i class="material-icons">
                        close
                        </i>dismiss
                </div>
                <div class="approve" (click)="approveVolunteer(i, vol._id, ev._id)">
                    <i class="material-icons">
                        check_circle
                        </i>approve
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-list">
    <h4>Events List</h4>
    <div class="event" mat-ripple *ngFor="let ev of eventsList" (click)="showEventData(ev)">
      <div class="icon"><i class="material-icons">event_available </i></div>
      <div class="title">{{ev.name}}</div>
      <!-- <div class="loc">{{ev.loc}}</div> -->
      <div class="date">{{ev.date | amTimeAgo}}</div>
      <div class="status">    
        <svg height='300px' width='300px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 64 64" x="0px" y="0px" *ngIf="isComplete(ev)">
          <title>time,business,clock,duration,hour,watch_2</title><path d="M42,34H32a2,2,0,0,1-2-2V18a2,2,0,0,1,4,0V30h8a2,2,0,0,1,0,4Z"></path><path d="M49,49a24,24,0,1,1-3-36.46V10a2,2,0,0,1,4,0v8a2,2,0,0,1-2,2H42a2,2,0,0,1,0-4h2a20,20,0,1,0,7.24,10.54,2,2,0,1,1,3.84-1.08A24,24,0,0,1,49,49Z"></path>
        </svg>
        <svg height='300px' width='300px'  fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve" *ngIf="!isComplete(ev)">
          <g><polygon points="30.8462486,37.1650009 24.8960495,42.5126991 42.7695465,62.4023018 80.747551,18.1718998 74.6782455,12.9609003    42.6328468,50.2812996  "></polygon><path d="M70.4160461,36.2061005C71.3755493,39.0283012,71.8618469,41.9873009,71.8618469,45   c0,15.0556984-12.2490005,27.3047028-27.3046989,27.3047028S17.2524529,60.0556984,17.2524529,45   S29.5014534,17.6952991,44.557148,17.6952991c4.9179993,0,9.7368011,1.3203011,13.9351006,3.8184013l4.0907974-6.875001   c-5.4355927-3.2343998-11.668499-4.9433994-18.025898-4.9433994C25.0898495,9.6953001,9.2524529,25.5331993,9.2524529,45   S25.0898495,80.3047028,44.557148,80.3047028S79.8618469,64.4667969,79.8618469,45   c0-3.8905983-0.6298981-7.7148018-1.8715973-11.3681984L70.4160461,36.2061005z"></path></g>
        </svg>
    </div>
    
    </div>
  </div>
</div>