<div>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
      <mat-hint>Ex. John</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password">
      <mat-hint>Enter your password</mat-hint>
    </mat-form-field>
  </p>
  <button mat-stroked-button color="primary" style="margin: auto;" [routerLink]="['Home']">Primary</button>
</div>