<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="blue">
    <mat-toolbar-row>
      <span>Career Works Foundation</span>
      <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>
